.hero-legal {
  height: 50vh;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 7.25rem 5rem;
}

/* MEDIA QUERY */

/* Tablet */
@media (max-width: 1024px) {
    .text-container {
        padding: 0 3rem 5rem;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .text-container {
        padding: 0 1.5rem 5rem;
    }
}